<div class="sidebar-main">
    <a href="#" hx-get="/mail/inbox" hx-target="#main-content" hx-push-url="true" class="active-sub">
        <i class="fa fa-inbox me-2"></i> Inbox
    </a>
    <a href="#" hx-get="/mail/sent" hx-target="#main-content" hx-push-url="true">
        <i class="fa fa-paper-plane me-2"></i> Sent
    </a>
    <a href="#" hx-get="/mail/drafts" hx-target="#main-content" hx-push-url="true">
        <i class="fa fa-file me-2"></i> Drafts
    </a>
    <a href="#" hx-get="/mail/trash" hx-target="#main-content" hx-push-url="true">
        <i class="fa fa-trash me-2"></i> Trash
    </a>
</div>