<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head has-background-success-light">
      <p class="modal-card-title has-text-success">Thành công</p>
      <button class="delete" aria-label="close"
              onclick="this.closest('.modal').remove()"></button>
    </header>
    <section class="modal-card-body">
      <p>{message}</p>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success"
              onclick="this.closest('.modal').remove()">Đóng</button>
    </footer>
  </div>
</div>
