/* src/main/webui/src/App.css */
#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: 'Segoe UI', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

pre {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 4px;
}