
<div class="sidebar-main" id="sidebarMain">
    <a href="/mail/inbox" hx-get="/mail/inbox" hx-target="#mainContent" hx-push-url="true" class="active-sub">
        <i class="fa fa-inbox me-2"></i> Inbox
    </a>
    <a href="/mail/sent" hx-get="/mail/sent" hx-target="#mainContent" hx-push-url="true">
        <i class="fa fa-paper-plane me-2"></i> Sent
    </a>
    <a href="/mail/drafts" hx-get="/mail/drafts" hx-target="#mainContent" hx-push-url="true">
        <i class="fa fa-file me-2"></i> Drafts
    </a>
</div>